{% extends "lab_8/layout/base.html" %}

{% block content %}
<div class="container">
    <p class="text-center" id="not-logged-in">You are not logged in</p>
    <div id="loading-1">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <section name="profile">
        <div class="container-fluid" id="lab8" style="display: none;">
            <div class="profile-large">
                <div class="card mb-3">
                    <img class="card-img-top profile-cover" src="">
                    <div class="card-body">
                        <div class="row"> 
                            <div class="col-lg-3 col-md-4">
                                <img class="rounded profile-picture">
                            </div>
                            <div class="col-lg-9 col-md-8">
                                <div class="row"><h2 class="card-title profile-name"></h2></div>
                                <div class="row">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <p class="card-text profile-email tabbed"></p>
                                </div>
                                <div class="gender-male row">
                                    <i class="fa fa-mars" aria-hidden="true"></i>
                                    <p class="card-text tabbed">Male</p>
                                </div>
                                <div class="gender-female row ">
                                    <i class="fa fa-venus" aria-hidden="true"></i>
                                    <p class="card-text tabbed">Female</p>
                                </div>
                                <div class="row"><p class="card-text profile-about"></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-small">
                <div class="card mb-3">
                    <img class="card-img-top profile-cover" src="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <img class="rounded profile-picture">
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <h4 class="card-title profile-name"></h4>
                        </div>
                        <div class="row">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <p class="card-text profile-email tabbed"></p>
                        </div>
                        <div class="gender-male row">
                            <i class="fa fa-mars" aria-hidden="true"></i>
                            <p class="card-text tabbed">Male</p>
                        </div>
                        <div class="gender-female row ">
                            <i class="fa fa-venus" aria-hidden="true"></i>
                            <p class="card-text tabbed">Female</p>
                        </div>
                        <div class="row"><p class="card-text profile-about"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section name="user-feed">
        <div class="container-fluid" id="feeds">
            <!-- <div class="row">
                <div class="card w-100">
                    <div class="card-header">
                        <h4 class="card-title profile-name"></h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div> -->
        </div>
    </section>
</div>
{% endblock%}