{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 style="color:magenta">Portofolio</h1>
<img src = "https://hdqwalls.com/download/windows-95-2048x1152.jpg" style="border-radius: 100%" width="150" height="150" alt=""/>
    <hr/>
    <section name="bio">
        <h2 style="color:cyan">Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
	
    <section name="about_me">
        <h2 style="color:yellow">List</h2>
        <ul style="color:magenta">
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	
	<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
