<nav class="navbar navbar-expand-lg navbar-light navbar-lab-8">
    <a class="navbar-brand" href="#">Lab 8 by {{ author }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse-navbar">
    <div class="mr-auto mt-2 mt-lg-0">
    </div>
    <div class="my-2 my-lg-0">
        <div class="fb-login-button" scope="public_profile,email,user_posts,user_about_me,publish_actions" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true" onlogin="render()" onlogout="facebookLogout()"></div>
    </div>
    </div>
</nav>